# ===============================
# Python
# ===============================

__pycache__/
*.py[cod]
*$py.class

# ===============================
# Jupyter
# ===============================

.ipynb_checkpoints/

# ===============================
# Entornos virtuales
# ===============================

.env
.venv
venv/
env/

# ===============================
# Archivos de sistema
# ===============================

.DS_Store
Thumbs.db

# ===============================
# Datos (datasets grandes)
# ===============================

data/
datasets/
*.csv
*.tsv
*.gz
*.zip
*.json

# ===============================
# Backups
# ===============================

backup/
*.backup

# ===============================
# Logs
# ===============================

*.log

# ===============================
# IDE
# ===============================

.vscode/
.idea/